<!-- <div class="dashboard-container">
  <h2>Bem-vindo, {{ name }} 👋</h2>
  <img [src]="photo" alt="Foto do usuário" class="user-photo">

  <div class="info-card">
    <h3>Resumo</h3>
    <a href="http://localhost:3000/gastos">ver gastos?</a>
    <p>Informações dos seus gastos aparecerão aqui em breve. {{photo}}</p>
    <p>{{photo}}</p>
    <p>{{email}}</p>
  </div>
</div> -->

<div class="dashboard-container">
  <h2>Bem-vindo, {{ name }} 👋</h2>
  <img [src]="picture" alt="Foto do usuário" class="user-photo">

  <form #f="ngForm" (ngSubmit)="adicionarGasto(f)">
    <input ngModel name="nome" placeholder="Nome" required />
    <input ngModel name="valor" type="number" step="0.01" placeholder="Valor" required />
    <input ngModel name="categoria" placeholder="Categoria" required />
    <input [(ngModel)]="dataHoje" name="data" type="date" required />
    <button type="submit" [disabled]="f.invalid">Adicionar</button>
  </form>

  <div class="info-card">
    <h3>Resumo do mês</h3>

    @if(loading){
    <p>Carregando gastos...</p>
    }

    @else if(!loading && gastos.length === 0){
    <p>Nenhum gasto encontrado.</p>
    }

    @else {
    <div class="gastos-list">
      @for (gasto of gastos; track gasto.nome){
      <div class="gasto-card">
        <h4>{{ gasto.nome }}</h4>
        <p><strong>Valor:</strong> R$ {{ gasto.valor.toFixed(2) }}</p>
        <p><strong>Categoria:</strong> {{ gasto.categoria }}</p>
        <p><strong>Data:</strong> {{ gasto.data }}</p>
      </div>
      }
    </div>
    }
    <!-- <div class="gastos-list" *ngIf="!loading && gastos.length > 0">
      <div class="gasto-card" *ngFor="let gasto of gastos">
        <h4>{{ gasto.nome }}</h4>
        <p><strong>Valor:</strong> R$ {{ gasto.valor.toFixed(2) }}</p>
        <p><strong>Categoria:</strong> {{ gasto.categoria }}</p>
        <p><strong>Data:</strong> {{ gasto.data }}</p>
      </div>
    </div> -->
  </div>
</div>