<div class="dashboard-container">
  <h2>Bem-vindo, {{ name }} 👋</h2>
  <img [src]="picture" alt="Foto do usuário" class="user-photo">

  <h2>Total do mês: R$ {{ totalMes }}</h2>

  <!-- Gráfico de barras por dia -->
  <section class="grafico-dia">
    <h4>Gastos por dia</h4>
    <canvas baseChart [data]="dadosDia" [type]="'bar'">
    </canvas>
  </section>

  <!-- Gráfico de pizza por categoria -->
  <section class="grafico-categoria">
    <h4>Gastos por categoria</h4>
    <canvas baseChart [data]="dadosCategoria" [type]="'pie'">
    </canvas>
  </section>

  <hr>


  <form #f="ngForm" (ngSubmit)="adicionarGasto(f)">
    <input ngModel name="nome" placeholder="Nome" required />
    <input ngModel name="valor" type="number" step="0.01" placeholder="Valor" required />
    <input ngModel name="categoria" placeholder="Categoria" required />
    <input [(ngModel)]="dataHoje" name="data" type="date" required />
    <button type="submit" [disabled]="f.invalid">Adicionar</button>
  </form>

  <div class="info-card">
    <h3>Resumo do mês</h3>

    <div class="resumo-mes">
      <h3>R$ {{ getTotalGastosMes() }} Gasto no mês</h3>
      <!-- <p>R$ {{ getTotalGastosMes() }}</p> -->
    </div>

    @if(loading){
    <p>Carregando gastos...</p>
    }

    @else if(!loading && gastos.length === 0){
    <p>Nenhum gasto encontrado.</p>
    }

    @else {
    <div class="gastos-list">
      @for (gasto of gastos; track gasto.nome){
      <div class="gasto-card">
        <div class="conteudo-card">
          <h4>{{gasto.nome}}</h4>
          <p><strong>Valor:</strong> R$ {{gasto.valor.toFixed(2)}}</p>
          <p><strong>Categoria:</strong> {{ gasto.categoria }}</p>
          <p>{{ gasto.data }}</p>
        </div>

        <button class="gear-btn" (click)="abrirModal(gasto)">⚙️</button>

        <!-- <button (click)="editarGasto(gasto)">Editar</button>
        <button (click)="deletarGasto(gasto)">🗑️ Excluir</button>
        <h4>{{ gasto.nome }}</h4>
        <p><strong>Valor:</strong> R$ {{ gasto.valor.toFixed(2) }}</p>
        <p><strong>Categoria:</strong> {{ gasto.categoria }}</p>
        <p><strong>Data:</strong> {{ gasto.data }}</p>
        <p>{{ gasto.data }}</p> -->
      </div>
      }
    </div>
    }
    <!-- <div class="gastos-list" *ngIf="!loading && gastos.length > 0">
      <div class="gasto-card" *ngFor="let gasto of gastos">
        <h4>{{ gasto.nome }}</h4>
        <p><strong>Valor:</strong> R$ {{ gasto.valor.toFixed(2) }}</p>
        <p><strong>Categoria:</strong> {{ gasto.categoria }}</p>
        <p><strong>Data:</strong> {{ gasto.data }}</p>
      </div>
    </div> -->
  </div>
  @if(modalAberto){
  <div class="modal-overlay">
    <div class="modal">
      <h3>Editar gasto</h3>

      <form #editForm="ngForm">
        <input [(ngModel)]="gastoEditando!.nome" name="nome" placeholder="Nome" required />
        <input type="number" [(ngModel)]="gastoEditando!.valor" name="valor" placeholder="Valor" required />
        <input [(ngModel)]="gastoEditando!.categoria" name="categoria" placeholder="Categoria" required />
        <input type="date" [(ngModel)]="gastoEditando!.data" name="data" required />
      </form>

      <div class="modal-actions">
        <button (click)="salvarEdicao()">Salvar</button>
        <button (click)="deletarGasto()">Excluir</button>
        <button (click)="fecharModal()">Cancelar</button>
      </div>
    </div>
  </div>
  }
</div>